.pokemonList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonCard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  padding: 0 20px;
}

.pokemonCard_wrapper {
  width: 250px;
  height: 200px;
  margin: 10px;
  flex: 0 1 auto;
}

.loading {
  margin-top: 100px;
}
