.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.random {
  margin-top: 10px;
  font-size: 1.5em;
}

hr {
  display: flex;
  max-width: 200px;
}
