.footer {
  display: flex;

  position: relative;

  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  min-height: 70px;
  padding: 5px;
  border-top: 2px solid rgba(214, 214, 214, 0.5);
}

.about {
  font-size: 38px;
}
